<div class="chattingView">
  <div *ngFor="let chat of chatContainer.chats" style="padding: 0px">
    <div class="row msg" *ngIf="chat.isSystem">
      <span style="color: red">{{ chat.data }}</span>
    </div>
    <div class="row msg" *ngIf="!chat.isSystem">
      <div class="col-12 col-md-3 e">
        {{ chat.from }}
      </div>
      <div class="col-12 col-md-9 e">
        {{ chat.data }}
      </div>
    </div>
  </div>
</div>
<div class="input-group mb-3">
  <input
    [(ngModel)]="MsgToSend"
    type="text"
    class="form-control"
    placeholder="메시지를 입력하세요."
    aria-describedby="basic-addon2"
    id="chat-input"
    (keydown.enter)="sendChat()"
  />
  <div class="input-group-append">
    <button (click)="sendChat()" class="btn btn-outline-primary" type="button">
      전송
    </button>
  </div>
</div>
