<div class="chattingView">
  <div *ngFor="let chat of chatContainer.chats" style="padding: 0px">
    <div class="row msg" *ngIf="chat.isSystem">
      <span style="color: red">{{ chat.data }}</span>
    </div>
    <div class="row msg" *ngIf="!chat.isSystem">
      <div
        class="col-4 col-md-5 col-lg-4"
        style="
          padding-right: 4px;
          padding-left: 0px;
          border-right: 1px dashed lightgray;
        "
      >
        {{ chat.from }}
      </div>
      <div class="col-8 col-md-7 col-lg-8" style="padding-right: 0px; padding-left: 6px">
        {{ chat.data }}
      </div>
    </div>
  </div>
</div>
<div class="input-group mb-3">
  <input
    [(ngModel)]="MsgToSend"
    type="text"
    class="form-control"
    placeholder="메시지를 입력하세요."
    aria-describedby="basic-addon2"
    id="chat-input"
    (keydown.enter)="sendChat()"
  />
  <div class="input-group-append">
    <button (click)="sendChat()" class="btn btn-outline-primary" type="button">
      전송
    </button>
  </div>
</div>
