<!-- As a link -->
<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Catch M!nd</a>
    </div>
  </div>
</nav>
<div class="container" style="background-color: snow;">
  <div style="margin-left: 10px; margin-right: 10px; padding-top: 10px;">
    <router-outlet></router-outlet>
    <footer>
      <div class="row">
        <div class="col-12">
          <small>Test Ver 1.0</small>
        </div>
      </div>
    </footer>
  </div>
  
</div>
