<div id="canvas-wrapper">
  <canvas id="canvas" style="width: 100%; border: 2px solid blue"></canvas>

  <div *ngIf="gameModel.isResult" @overlayTrigger class="overlay">
    <div class="text">
      <h2>제시어는 {{ gameModel.word }} 이었습니다!</h2>
      <hr />
      <div *ngFor="let hit of gameModel.turnResult">
        <h3>{{ hit.user }} : +{{ hit.score }}</h3>
      </div>
    </div>
  </div>

  <div
    *ngIf="gameModel.myTurn && gameModel.isPrepare"
    @overlayTrigger
    class="overlay"
  >
    <div class="text">
      <h2>세가지 제시어중 하나를 선택해주세요!</h2>
    </div>
  </div>

  <div
    *ngIf="!gameModel.myTurn && gameModel.isPrepare"
    @overlayTrigger
    class="overlay"
  >
    <div class="text">
      <h2>{{ gameModel.turn }}의 차례입니다.</h2>
    </div>
  </div>
</div>

<div *ngIf="gameModel.myTurn">
  <div
    class="btn-group"
    role="group"
    aria-label="Basic radio toggle button group"
  >
    <input
      type="radio"
      class="btn-check"
      name="btnradio"
      id="btnradio1"
      autocomplete="off"
      (click)="selectPen()"
      checked
    />
    <label class="btn btn-outline-primary" for="btnradio1">펜</label>

    <input
      type="radio"
      class="btn-check"
      name="btnradio"
      id="btnradio2"
      autocomplete="off"
      (click)="selectErase()"
    />
    <label class="btn btn-outline-primary" for="btnradio2">지우개</label>
  </div>

  <div
    class="btn-group"
    role="group"
    aria-label="Basic radio toggle button group"
  >
    <input
      type="radio"
      class="btn-check"
      name="stroke"
      id="stroke1"
      autocomplete="off"
      (click)="selectStrokeSize('3')"
      checked
    />
    <label class="btn btn-outline-primary" for="stroke1">얇게</label>

    <input
      type="radio"
      class="btn-check"
      name="stroke"
      id="stroke2"
      autocomplete="off"
      (click)="selectStrokeSize('5')"
    />
    <label class="btn btn-outline-primary" for="stroke2">보통</label>
    <input
      type="radio"
      class="btn-check"
      name="stroke"
      id="stroke3"
      autocomplete="off"
      (click)="selectStrokeSize('7')"
    />
    <label class="btn btn-outline-primary" for="stroke3">굵게</label>
  </div>

  <div
    class="btn-group"
    role="group"
    aria-label="Basic radio toggle button group"
  >
    <input
      type="radio"
      class="btn-check"
      name="color"
      id="color1"
      autocomplete="off"
      (click)="selectColor('black')"
      checked
    />
    <label class="btn btn-outline-primary" for="color1">Black</label>

    <input
      type="radio"
      class="btn-check"
      name="color"
      id="color2"
      autocomplete="off"
      (click)="selectColor('red')"
    />
    <label class="btn btn-outline-primary" for="color2">Red</label>
    <input
      type="radio"
      class="btn-check"
      name="color"
      id="color3"
      autocomplete="off"
      (click)="selectColor('green')"
    />
    <label class="btn btn-outline-primary" for="color3">Green</label>

    <input
      type="radio"
      class="btn-check"
      name="color"
      id="color4"
      autocomplete="off"
      (click)="selectColor('blue')"
    />
    <label class="btn btn-outline-primary" for="color4">Blue</label>
  </div>
  <button class="btn btn-primary" (click)="clearCanvas()">모두 지우기</button>
</div>

<div class="input-group" *ngIf="!gameModel.myTurn">
  <input
    [(ngModel)]="guess"
    type="text"
    class="form-control"
    placeholder="Endter Guess!"
    aria-describedby="basic-addon2"
    id="guess-input"
    (keydown.enter)="checkGuess()"
  />
  <div class="input-group-append">
    <button
      (click)="checkGuess()"
      class="btn btn-outline-primary"
      type="button"
    >
      Guess
    </button>
  </div>
</div>
